{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Complaint Form</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="{% static 'complaint/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css' %}">
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="{% static 'complaint/css/style.css' %}">
	</head>

	<body>

		<div class="wrapper">
			<div class="inner">
				<div class="image-holder">
					<img src="{% static 'complaint/images/1.jpeg' %}" alt="">
				</div>
				<form method="POST">
					{% csrf_token %}
					<h3>Please Raise Your Complaint</h3>
					<div class="form-row">
						
						<input type="text" class="form-control" placeholder="subject" id="title" name="title">
						<input type="text" class="form-control" placeholder="Institution" id="institution" name="institution">
						<input type="text" class="form-control" placeholder="Roll number" name="roll_number" id ="roll_number">
					</div>
					<div class="form-row">
						<input type="text" class="form-control" placeholder="email" id="email" name="email">
						<div class="form-holder">
							
							<i class="zmdi zmdi-chevron-down"></i>
						</div>
					</div>
					<textarea name="description" id="description" placeholder="Complaint" class="form-control" style="height: 130px;"></textarea>
					<button type="submit">Raise now
						<i class="zmdi zmdi-long-arrow-right"></i>
					</button>
				</form>
				
			</div>
		</div>

		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/main.js"></script>
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>